mephi.dtd

<!ELEMENT university (faculty+)>
<!ELEMENT faculty (department+)>
<!ELEMENT department (group+)>
<!ELEMENT group (student+)>
<!ELEMENT student (#PCDATA)>


<!ATTLIST university 
 name CDATA #REQUIRED
 city CDATA #REQUIRED
 metro CDATA #IMPLIED
>
<!ATTLIST faculty 
 name CDATA #REQUIRED
 dean CDATA #IMPLIED
>
<!ATTLIST department
 name CDATA #REQUIRED
 number CDATA #IMPLIED
>
<!ATTLIST group
 name CDATA #REQUIRED
 amount CDATA #IMPLIED
>

