mephi.dtd

<!ELEMENT university (faculty)>
<!ELEMENT faculty (department)>
<!ELEMENT department (group+)>
<!ELEMENT group (student+)>
<!ELEMENT student (#PCDATA)>

<!ATTLIST university 
name CDATA #REQUIRED
address CDATA #IMPLIED>
<!ATTLIST faculty
name CDATA #REQUIRED
korp CDATA #IMPLIED
dekan CDATA #REQUIRED>
<!ATTLIST department
name CDATA #REQUIRED
number CDATA #REQUIRED
website CDATA #IMPLIED>
<!ATTLIST group number CDATA #REQUIRED>

