mephi.dtd

<!ELEMENT university (faculty+)>
<!ATTLIST university name CDATA #REQUIRED city CDATA #REQUIRED>
<!ELEMENT faculty (chair+)>
<!ATTLIST faculty name CDATA #REQUIRED>
<!ELEMENT chair (group*)>
<!ATTLIST chair number CDATA #REQUIRED>
<!ELEMENT group (student+)>
<!ATTLIST group year CDATA #REQUIRED number CDATA #REQUIRED>
<!ELEMENT student (#PCDATA)>